<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="com.epam.spring.core.course.Client" />

    <bean id="eventLogger" class="com.epam.spring.core.course.ConsoleEventLogger" />

    <bean id="app" class="com.epam.spring.core.course.App" />

</beans>